body
{
	margin: 0;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

header #logo
{
	width: 100%;
	padding-bottom: 110px;
	background: url(http://colombianpaintball.com/templates/cp/images/backgrounds/img-sc2.jpg) no-repeat;
	background-size: 100%;
}

#logo h2{
	font-size: 130px;
	text-align: center; 
	font-family: 'Paintball';
}

header #nav
{
	background: black;
	width: 100%;
	margin-top: -110px;
	border-bottom: 1px solid white;
}

header #nav ul
{
	margin-left: 60px;
	display: inline-block;
}

header #nav li
{
	text-align: center;
	font-weight: bold;
	display: inline-block;
}

header #nav li a
{
	color:white;
	text-decoration: none;
	margin-right: 25px;
}

#wrapper
{
	margin: -180px auto 110px;
	max-width: 1000px;
	background: black;
	border: 5px solid black;
	border-radius: 6px;
	color: white;
}

#wrapper #column1
{
	width: 50%;
	display: inline-block;
	height: auto;
	border-right:2px solid white;
}

#wrapper #column2
{
	display: inline-block;
	vertical-align: top;
	width: 49%;
	height: auto;
}

.box
{
	padding: 20px;
}

.title{
	font-family: helvetica, arial, sans-serif;
	font-weight: 400px;
	font-size: 16px;
	text-align: center;
	margin-bottom: 10px;

}

.logo{
	height: 300px;
	opacity: 0.67;
}

.facebook{
	width: 460px;
	border: none;
	overflow: hidden;
}

footer
{
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 10px;
	text-align: center;
	color:white;
	border-top: 2px solid white;
	font-size: 13px;
	z-index: 90;
	background: url(http://habtium.com/images/layout/noise.png) black;
}

@font-face {
    font-family: 'Paintball';
    src: url('../fonts/paintball-webfont.eot');
    src: url('../fonts/paintball-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/paintball-webfont.woff') format('woff'),
         url('../fonts/paintball-webfont.ttf') format('truetype'),
         url('../fonts/paintball-webfont.svg#paintballregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (max-width: 700px){

	#wrapper #column1{
		width: 100%;
		display: block;
	}

	#wrapper #column2{
		display: block;
		width: 100%;
	}
	
	.facebook{
		width: 100%;
	}

	.logo{
		width: 300px;
		height: 200px;
		opacity: 0.67;
	}
}